.wrapper {
	padding: 10px 0;
}

.textVal {
	background-color: #04f;
	color: white;
	text-align: center;
	height: 50px;
	// width: 200px;
	margin-bottom: 50px;
	padding-top: 10px;
}

// testing if selector not pure is fixed
:global(.batchNumber) {
    :global(.ant-modal-body) {
        display: flex;
        padding: 0;
        height: 400px;
        overflow: hidden;
    }
    :global(.ant-modal-header) {
        border-bottom: 0 !important;
    }
    :global(table:last-child) {
        border-left: 1px solid #e8e8e8 !important;
    }
}